In [123]:
import pandas as pd

In [124]:
Dataset = pd.read_csv("Datasets/Flujos migratorios Completo con datos macro.csv")
Dataset.head()

,Unnamed: 0.1,Year,Country Code 1,Country 1,Country Code,Country 2,Value,Diff,Unnamed: 0,Country,...,Share below $3.65 a day_2,Share below $6.85 a day_2,Share below $10 a day_2,Share below $20 a day_2,Share below $30 a day_2,Share below $40 a day_2,40% of median - share of population below poverty line_2,50% of median - share of population below poverty line_2,60% of median - share of population below poverty line_2,Are Borders
0,0,1990,ALB,Albania,AFG,Afghanistan,NaN,NaN,7,Albania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,1990,ALB,Albania,AFG,Afghanistan,NaN,NaN,7,Albania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,1990,DZA,Algeria,AFG,Afghanistan,NaN,NaN,14,Algeria,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,1990,DZA,Algeria,AFG,Afghanistan,NaN,NaN,14,Algeria,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1990,AND,Andorra,AFG,Afghanistan,NaN,NaN,21,Andorra,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [125]:
Dataset = Dataset.fillna(0)
Dataset = Dataset.drop("Unnamed: 0.1", axis=1)
Dataset = Dataset.drop("Unnamed: 0", axis=1)
Dataset

,Year,Country Code 1,Country 1,Country Code,Country 2,Value,Diff,Country,Five-year change immigrants,Emigrants,...,Share below $3.65 a day_2,Share below $6.85 a day_2,Share below $10 a day_2,Share below $20 a day_2,Share below $30 a day_2,Share below $40 a day_2,40% of median - share of population below poverty line_2,50% of median - share of population below poverty line_2,60% of median - share of population below poverty line_2,Are Borders
0,1990,ALB,Albania,AFG,Afghanistan,0.0,0.0,Albania,0.0,180204.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
1,1990,ALB,Albania,AFG,Afghanistan,0.0,0.0,Albania,0.0,180204.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
2,1990,DZA,Algeria,AFG,Afghanistan,0.0,0.0,Algeria,0.0,921665.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
3,1990,DZA,Algeria,AFG,Afghanistan,0.0,0.0,Algeria,0.0,921665.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
4,1990,AND,Andorra,AFG,Afghanistan,0.0,0.0,Andorra,0.0,3740.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369679,2020,ZMB,Zambia,ALB,Albania,0.0,0.0,Zambia,55848.0,200700.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
369680,2020,ZWE,Zimbabwe,ALB,Albania,0.0,0.0,Zimbabwe,15659.0,1243314.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
369681,2020,ZWE,Zimbabwe,ALB,Albania,0.0,0.0,Zimbabwe,15659.0,1243314.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
369682,2020,AFG,Afghanistan,ALB,Albania,0.0,0.0,Afghanistan,-195334.0,5853838.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
369683,2020,AFG,Afghanistan,ALB,Albania,0.0,0.0,Afghanistan,-195334.0,5853838.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0

In [126]:
print(Dataset.columns)

Index(['Year', 'Country Code 1', 'Country 1', 'Country Code', 'Country 2',
       'Value', 'Diff', 'Country', 'Five-year change immigrants', 'Emigrants',
       'International migrants', 'Five-year change emigrants',
       'Refugees by origin', 'Refugees by destination',
       'Asylum seekers by destination', 'Asylum seekers by origin',
       'International immigrants (% population)',
       'International emigrants (% population)', 'Child migrants (UNDESA)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Rate)',
       'PBI_per Capita', 'Poblacion Total', 'Share below $1 a day',
       'Share below $2.15 a day', 'Share below $3.65 a day',
       'Share below $6.85 a day', 'Share below $10 a day',
       'Share below $20 a day', 'Share below $30 a day',
       'Share below $40 a day',
       '40% of median - share of population below poverty line',
       '50% of median - share of population below poverty line',
       '60% of median - share of population below poverty line',
       'Unnamed: 0_2', 'Country_2', 'Five-year change immigrants_2',
       'Emigrants_2', 'International migrants_2',
       'Five-year change emigrants_2', 'Refugees by origin_2',
       'Refugees by destination_2', 'Asylum seekers by destination_2',
       'Asylum seekers by origin_2',
       'International immigrants (% population)_2',
       'International emigrants (% population)_2', 'Child migrants (UNDESA)_2',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Rate)_2',
       'PBI_per Capita_2', 'Poblacion Total_2', 'Share below $1 a day_2',
       'Share below $2.15 a day_2', 'Share below $3.65 a day_2',
       'Share below $6.85 a day_2', 'Share below $10 a day_2',
       'Share below $20 a day_2', 'Share below $30 a day_2',
       'Share below $40 a day_2',
       '40% of median - share of population below poverty line_2',
       '50% of median - share of population below poverty line_2',
       '60% of median - share of population below poverty line_2',
       'Are Borders'],
      dtype='object')

In [127]:
Dataset = Dataset.drop('Country', axis=1)
Dataset = Dataset.drop('Country_2', axis=1)
Dataset = Dataset.drop('Unnamed: 0_2', axis=1)
print(Dataset.columns)

Index(['Year', 'Country Code 1', 'Country 1', 'Country Code', 'Country 2',
       'Value', 'Diff', 'Five-year change immigrants', 'Emigrants',
       'International migrants', 'Five-year change emigrants',
       'Refugees by origin', 'Refugees by destination',
       'Asylum seekers by destination', 'Asylum seekers by origin',
       'International immigrants (% population)',
       'International emigrants (% population)', 'Child migrants (UNDESA)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Rate)',
       'PBI_per Capita', 'Poblacion Total', 'Share below $1 a day',
       'Share below $2.15 a day', 'Share below $3.65 a day',
       'Share below $6.85 a day', 'Share below $10 a day',
       'Share below $20 a day', 'Share below $30 a day',
       'Share below $40 a day',
       '40% of median - share of population below poverty line',
       '50% of median - share of population below poverty line',
       '60% of median - share of population below poverty line',
       'Five-year change immigrants_2', 'Emigrants_2',
       'International migrants_2', 'Five-year change emigrants_2',
       'Refugees by origin_2', 'Refugees by destination_2',
       'Asylum seekers by destination_2', 'Asylum seekers by origin_2',
       'International immigrants (% population)_2',
       'International emigrants (% population)_2', 'Child migrants (UNDESA)_2',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Rate)_2',
       'PBI_per Capita_2', 'Poblacion Total_2', 'Share below $1 a day_2',
       'Share below $2.15 a day_2', 'Share below $3.65 a day_2',
       'Share below $6.85 a day_2', 'Share below $10 a day_2',
       'Share below $20 a day_2', 'Share below $30 a day_2',
       'Share below $40 a day_2',
       '40% of median - share of population below poverty line_2',
       '50% of median - share of population below poverty line_2',
       '60% of median - share of population below poverty line_2',
       'Are Borders'],
      dtype='object')

In [128]:
column_order = ['Year', 'Country Code 1', 'Country 1', 'Country Code', 'Country 2', 'Diff',
       'Value', 'Five-year change immigrants', 'Emigrants',
       'International migrants', 'Five-year change emigrants',
       'Refugees by origin', 'Refugees by destination',
       'Asylum seekers by destination', 'Asylum seekers by origin',
       'International immigrants (% population)',
       'International emigrants (% population)', 'Child migrants (UNDESA)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Rate)',
       'PBI_per Capita', 'Poblacion Total', 'Share below $1 a day',
       'Share below $2.15 a day', 'Share below $3.65 a day',
       'Share below $6.85 a day', 'Share below $10 a day',
       'Share below $20 a day', 'Share below $30 a day',
       'Share below $40 a day',
       '40% of median - share of population below poverty line',
       '50% of median - share of population below poverty line',
       '60% of median - share of population below poverty line',
       'Five-year change immigrants_2', 'Emigrants_2',
       'International migrants_2', 'Five-year change emigrants_2',
       'Refugees by origin_2', 'Refugees by destination_2',
       'Asylum seekers by destination_2', 'Asylum seekers by origin_2',
       'International immigrants (% population)_2',
       'International emigrants (% population)_2', 'Child migrants (UNDESA)_2',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Rate)_2',
       'PBI_per Capita_2', 'Poblacion Total_2', 'Share below $1 a day_2',
       'Share below $2.15 a day_2', 'Share below $3.65 a day_2',
       'Share below $6.85 a day_2', 'Share below $10 a day_2',
       'Share below $20 a day_2', 'Share below $30 a day_2',
       'Share below $40 a day_2',
       '40% of median - share of population below poverty line_2',
       '50% of median - share of population below poverty line_2',
       '60% of median - share of population below poverty line_2',
       'Are Borders']
Dataset = Dataset.reindex(columns=column_order)

In [129]:
Dataset = Dataset.drop_duplicates()

In [130]:
Dataset = Dataset.reset_index()
Dataset

,index,Year,Country Code 1,Country 1,Country Code,Country 2,Diff,Value,Five-year change immigrants,Emigrants,...,Share below $3.65 a day_2,Share below $6.85 a day_2,Share below $10 a day_2,Share below $20 a day_2,Share below $30 a day_2,Share below $40 a day_2,40% of median - share of population below poverty line_2,50% of median - share of population below poverty line_2,60% of median - share of population below poverty line_2,Are Borders
0,0,1990,ALB,Albania,AFG,Afghanistan,0.0,0.0,0.0,180204.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
1,2,1990,DZA,Algeria,AFG,Afghanistan,0.0,0.0,0.0,921665.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
2,4,1990,AND,Andorra,AFG,Afghanistan,0.0,0.0,0.0,3740.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
3,6,1990,AGO,Angola,AFG,Afghanistan,0.0,0.0,0.0,824886.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
4,8,1990,ARG,Argentina,AFG,Afghanistan,0.0,20.0,0.0,430155.0,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259021,369674,2020,VNM,Vietnam,ALB,Albania,0.0,0.0,3974.0,3392025.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
259022,369676,2020,YEM,Yemen,ALB,Albania,0.0,0.0,7231.0,1301166.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
259023,369678,2020,ZMB,Zambia,ALB,Albania,0.0,0.0,55848.0,200700.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
259024,369680,2020,ZWE,Zimbabwe,ALB,Albania,0.0,0.0,15659.0,1243314.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0
259025,369682,2020,AFG,Afghanistan,ALB,Albania,0.0,0.0,-195334.0,5853838.0,...,0.797915,10.93692,30.713816,76.654225,92.422544,97.425297,3.97702,9.215007,16.576506,0

In [131]:
Dataset = Dataset.drop("index", axis=1)

In [133]:
Dataset.to_csv('Dataset_modelo.csv', index=False)