In [55]:
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler

In [56]:
model = joblib.load('modelo_entrenado.joblib')

In [57]:
Dataset = pd.read_csv("Dataset_modelo.csv")
Dataset.head()

,Country,Country Code,Net migration,Total poblation,PBI per capita,Remesas,Homicidios
0,Aruba,ABW,1004.0,106537.0,29342.10,1.113316e+08,0.00
1,Angola,AGO,32066.0,34503774.0,1953.53,4.454001e+08,0.00
2,Albania,ALB,-69998.0,2811666.0,6492.87,1.403443e+08,2.12
3,Argentina,ARG,24000.0,45808747.0,10636.12,5.886825e+08,5.35
4,Armenia,ARM,-24989.0,2790974.0,4966.51,3.527756e+08,1.75

In [58]:
scaler = joblib.load('scaler_entrenado.joblib')
columns_to_standardize = ["Net migration", "Total poblation", "PBI per capita", "Remesas", "Homicidios"]
Dataset[columns_to_standardize] = scaler.transform(Dataset[columns_to_standardize])
Dataset.head()

,Country,Country Code,Net migration,Total poblation,PBI per capita,Remesas,Homicidios
0,Aruba,ABW,0.214657,-0.245925,1.436461,-0.286246,-0.463172
1,Angola,AGO,0.267864,-0.088487,-0.520960,-0.194202,-0.463172
2,Albania,ALB,0.093034,-0.233543,-0.196540,-0.278252,-0.195413
3,Argentina,ARG,0.254048,-0.036743,0.099572,-0.154725,0.212541
4,Armenia,ARM,0.170132,-0.233638,-0.305627,-0.219722,-0.242145

In [59]:
X_test = Dataset.iloc[3]
X_test = pd.DataFrame(X_test).T
X_test = X_test.drop("Country", axis=1)
X_test = X_test.drop("Country Code", axis=1)
X_test = X_test.drop("Net migration", axis=1)
X_test

  Total poblation PBI per capita   Remesas Homicidios
3       -0.036743       0.099572 -0.154725   0.212541

In [60]:
X_test["Total poblation"] = -0.036743
X_test["PBI per capita"] = 0.099572	
X_test["Remesas"] = -0.154725
X_test["Homicidios"] = 0.212038
y_pred = model.predict(X_test)
y_pred

array([0.30090656])

In [61]:
X_test["Migracion"] = y_pred[0]
last_column = X_test.pop(X_test.columns[-1])
X_test.insert(0, last_column.name, last_column)
X_test

   Migracion  Total poblation  PBI per capita   Remesas  Homicidios
3   0.300907        -0.036743        0.099572 -0.154725    0.212038

In [62]:
y_pred_original = scaler.inverse_transform(X_test)
y_pred_original = pd.DataFrame(y_pred_original)
y_pred_original.head()

             0             1             2             3         4
0  51355.67144  4.580875e+07  10636.118646  5.886817e+08  5.346019

In [63]:
columns_to_standardize = ["Net migration", "Total poblation", "PBI per capita", "Remesas", "Homicidios"]
Dataset = scaler.inverse_transform(Dataset[columns_to_standardize])
Dataset = pd.DataFrame(Dataset)
Dataset.head()

         0           1         2             3     4
0   1004.0    106537.0  29342.10  1.113316e+08  0.00
1  32066.0  34503774.0   1953.53  4.454001e+08  0.00
2 -69998.0   2811666.0   6492.87  1.403443e+08  2.12
3  24000.0  45808747.0  10636.12  5.886825e+08  5.35
4 -24989.0   2790974.0   4966.51  3.527756e+08  1.75