In [111]:
import pandas as pd
import joblib
from sklearn.preprocessing import StandardScaler

In [112]:
model = joblib.load('modelo_entrenado.joblib')

In [113]:
Dataset = pd.read_csv("Dataset_modelo.csv")
Dataset.head()

,Country Name,Year,Homicides,Poblacion,Remesas,Net migration,Expulsor,Receptor
0,Afghanistan,1990,1538.0,10694796,1.439791e+08,-1525351.0,1,0
1,Afghanistan,1991,2001.0,10745167,1.439791e+08,-605004.2,1,0
2,Afghanistan,1992,2299.0,12057433,1.439791e+08,315342.6,0,1
3,Afghanistan,1993,2589.0,14003760,1.439791e+08,1235689.4,0,1
4,Afghanistan,1994,2849.0,15455555,1.439791e+08,2156036.2,0,1

In [114]:
scaler = joblib.load('scaler_entrenado.joblib')
columns_to_standardize = ["Net migration", "Poblacion", "Homicides", "Remesas", "Expulsor", "Receptor"]
Dataset[columns_to_standardize] = scaler.transform(Dataset[columns_to_standardize])
Dataset.head()

,Country Name,Year,Homicides,Poblacion,Remesas,Net migration,Expulsor,Receptor
0,Afghanistan,1990,-0.095602,-0.181976,-0.122775,-2.355055,0.848017,-0.848017
1,Afghanistan,1991,-0.081676,-0.181611,-0.122775,-0.935080,0.848017,-0.848017
2,Afghanistan,1992,-0.072713,-0.172113,-0.122775,0.484895,-1.179222,1.179222
3,Afghanistan,1993,-0.063990,-0.158026,-0.122775,1.904869,-1.179222,1.179222
4,Afghanistan,1994,-0.056170,-0.147519,-0.122775,3.324844,-1.179222,1.179222

In [115]:
X_test = Dataset.iloc[3]
X_test = pd.DataFrame(X_test).T
X_test = X_test.drop("Year", axis=1)
X_test = X_test.drop("Country Name", axis=1)
X_test = X_test.drop("Net migration", axis=1)
X_test

  Homicides Poblacion   Remesas  Expulsor  Receptor
3  -0.06399 -0.158026 -0.122775 -1.179222  1.179222

In [116]:
X_test["Homicides"] = -0.056170
X_test["Poblacion"] = -0.147519
X_test["Remesas"] = -0.122775
X_test["Expulsor"] = -1.179222
X_test["Receptor"] = 1.179222
y_pred = model.predict(X_test)
y_pred

array([0.58625829])

In [117]:
X_test["Migracion"] = y_pred[0]
last_column = X_test.pop(X_test.columns[-1])
X_test.insert(0, last_column.name, last_column)
X_test

   Migracion  Homicides  Poblacion   Remesas  Expulsor  Receptor
3   0.586258   -0.05617  -0.147519 -0.122775 -1.179222  1.179222

In [118]:
y_pred_original = scaler.inverse_transform(X_test)
y_pred_original = pd.DataFrame(y_pred_original)
y_pred_original.head()

               0             1          2             3             4    5
0  381040.816086  2.807671e+07 -188.04291  1.439712e+08 -6.754668e-08  1.0

In [119]:
columns_to_standardize = ["Net migration", "Poblacion", "Homicides", "Remesas", "Expulsor", "Receptor"]
Dataset = scaler.inverse_transform(Dataset[columns_to_standardize])
Dataset = pd.DataFrame(Dataset)
Dataset.head()

           0           1       2             3    4    5
0 -1525351.0  10694796.0  1538.0  1.439791e+08  1.0  0.0
1  -605004.2  10745167.0  2001.0  1.439791e+08  1.0  0.0
2   315342.6  12057433.0  2299.0  1.439791e+08  0.0  1.0
3  1235689.4  14003760.0  2589.0  1.439791e+08  0.0  1.0
4  2156036.2  15455555.0  2849.0  1.439791e+08  0.0  1.0